#=======================================================================# 
# VisualStudio/MonoDevelop/Consulo generated solution and project files 
#=======================================================================#
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.pdb.meta
*.opendb
#=======================================================================#
# Visual Studio cache directory	 										
#=======================================================================#
.vs/
.vscode
#=======================================================================#
# Unity generated 														
#=======================================================================#
test_clicker.Unity/[Ll]ibrary/
test_clicker.Unity/[Tt]emp/
test_clicker.Unity/[Oo]bj/
test_clicker.Unity/[Ll]ogs/
test_clicker.Unity/[Uu]serSettings/
test_clicker/_EditorCache
test_clicker.Unity/CaсheServer
#=======================================================================#
# OS generated 															
#=======================================================================#
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
